body {
    margin: 0;
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.gif-grid-item {
    width: 100%;
    height: 100%;
    background-image: url('gipfy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 200px;
    z-index: 1;
}

.product-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 8px;
    z-index: 1;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.product-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product-image {
    max-width: 200px;
    margin: 0 10px;
}

.product-price {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.purchase-button {
    font-size: 1.2rem;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    background-color: red;
    transition: background-color 0.5s;
}

   
